<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a aria-label="Chat on WhatsApp" href="https://wa.me/7666014749"><i style="color:black;" class="fa-brands fa-square-whatsapp"></i></a>
            <a href="mailto:kunalharinkhede277@gmail.com?cc=-&bcc=-&subject=subscription&body=interested%20in%20subscription"><i style="color:black;" class="fa-solid fa-envelope"></i></i></a>
            <a href="https://www.linkedin.com/in/kunal-harinkhede-349a83253/"><i style="color:black;" class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-main">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>