<% layout("./layouts/boilerplate") %>

<body>
    <div id="privacydiv">
    <h6>Legal Terms</h6>
    <h3>Wonderlust Privacy</h3>
    <img id="privacy-img" src="https://kratikal.com/blog/wp-content/uploads/2020/03/cso_gdpr_data_privacy_by_ipopba_gettyimages-1150199939_2400x1600-100808201-large.jpg" alt="privacy image">
    <br>
    <h4>Privacy Policy</h4>
    <p>Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.</p>
    <h5>Privacy Policy</h5>
    <p>Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.</p>
    </div>
</body>