<!-- <% layout("./layouts/boilerplate") %>

<body>
    <div class="row">
        <form method="post" action="/listings/search" >
            <input type="text" placeholder="search" name="search">
            <button type="submit">search</button>
        </form>
    </div>
</body> -->