<% layout("./layouts/boilerplate") %>


<body>
    <div id="termsdiv">
    <h3>Wonderlust Terms For Users</h3>
    <br>
    <p>Last Updated: 25 January 2024<br><br>

        Thank you for using WonderLust!<br><br>
        
        These Terms of Service for European Users (“Terms”) are a binding legal agreement between you and WonderLust that govern your right to use the websites, applications, and other offerings from WonderLust (collectively, the “WonderLust Platform”). When used in these Terms, “WonderLust,” “we,” “us,” or “our” refers to the WonderLust entity set out on Schedule 1 with whom you are contracting.
        
        <br><br>The WonderLust Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services. Members who publish and offer services are “Hosts” and Members who search for, book, or use services are “Guests.” Hosts offer accommodations (“Accommodations”), activities, excursions and events (“Experiences”), and a variety of travel and other services (collectively, “Host Services,” and each Host Service offering, a “Listing”). <br>As the provider of the WonderLust Platform, WonderLust does not own, control, offer or manage any Listings, Host Services, or tourism services. WonderLust is not a party to the contracts entered into directly between Hosts and Guests, nor is WonderLust a real estate broker, travel agency, insurer or an organiser or retailer of travel packages under Directive (EU) 2015/2302. WonderLust is not acting as an agent in any capacity for any Member, except as specified in the Payments Terms of Service (“Payment Terms”). To learn more about WonderLust’s role see Section 17.
        
        <br><br>We maintain other terms and policies that supplement these Terms like our <a style="color: black;" href="/privacy">Privacy Policy</a>, which describes our collection and use of personal data, and our Payments Terms, which govern any payment services provided to Members by the WonderLust payment entities (collectively "WonderLust Payments").</p>
    </div>
</body>